In [2]:
##Code for foor loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [14]:
##Code for while loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [17]:
##python program to compute the electricity bill for a household.


x = int(input("enter the unit of electricity used:"))
print(x)

if x <101:
    Bill = x*4.5;
elif x <201 :
    Bill = 450+(x-100)*6
elif x <301 :
    Bill = 450+600+(x-200)*10
else :
    Bill = 450+600+1000+(x-300)*20
    
print(Bill)

enter the unit of electricity used: 310

310
2250

In [18]:
##Code for sum of 10 number using for loop
sum = 0
for i in range(10):
    sum = sum+i

print(sum)

45

In [19]:
#Code for product of 10 number using for loop
product = 1
for i in range(1,11):
    product = product*i

print(product)

3628800

In [21]:
##Code for sum of 10 number using for loop
sum = 0
i = 0
while i < 11:
    sum = sum+i
    i += 1

print(sum)

55

In [22]:
##Code for product of 10 number using for loop
product = 1
i = 1
while i < 11:
    product = product*i
    i += 1
    
print(product)

3628800

In [24]:
'''Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.'''

list = []
for i in range(101):
    x = i*i*i
    if (x%4 == 0 or x%5 == 0):
        list.append(x)

print(list)

[0, 8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [26]:
''' Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist" '''
count = 0
list1 = ["I want to become a data scientist"]
list1 = str(list1)
for i in list1:
    if (i==a or i==e or i==o or i==u):
        count = count+1
    
print(count)

NameError: name 'a' is not defined